---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonScriptCompletion from '../../components/Ex_15_T.tsx';
---

<LeconLayout title="Exercice 15T - Algorithmique - Calcul de seuil">
  <main>
    <PythonScriptCompletion client:load />
  </main>
</LeconLayout>
