---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_18_T.tsx';
---

<LeconLayout title="Exercice 18T - Algorithmique - Analyse de seuil">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout>