---
import LeconLayout from '../../layouts/Leçon.astro';
import StaticPlanePlaneCheck from '../../components/Ex_13_T.tsx';
---

<LeconLayout title="Exercice 13T - Position relative de deux plans">
  <main>
    <StaticPlanePlaneCheck client:load />
  </main>
</LeconLayout>
