---
import LeconLayout from '../../layouts/Leçon.astro';
import PythonAlgorithmAnalysis from '../../components/Ex_16_T.tsx';
---

<LeconLayout title="Exercice 16T - Algorithmique - Analyse de fonction">
  <main>
    <PythonAlgorithmAnalysis client:load />
  </main>
</LeconLayout>
