---
import LeconLayout from '../../layouts/Exercice.astro';
import SequenceLimitCheck from '../../components/Ex_14_T.tsx';
---

<LeconLayout title="Exercice 14T - Limite d'une suite">
  <main>
    <SequenceLimitCheck client:load />
  </main>
</LeconLayout>
