---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_10_T.tsx';
---

<LeconLayout title="Appartenance à une droite">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout>