---
import LeconLayout from '../../layouts/Leçon.astro';
import PythonThresholdAnalysis from '../../components/Ex_17_T.tsx';
---

<LeconLayout title="Exercice 17T - Algorithmique - Analyse de seuil">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout>
