---
import LeconLayout from '../../layouts/Leçon.astro';
import StaticLinePlaneCheck from '../../components/Ex_12_T.tsx';
---

<LeconLayout title="Exercice 12T - Position relative (Fixe)">
  <main>
    <StaticLinePlaneCheck client:load />
  </main>
</LeconLayout>
