---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_19_T.tsx';
---

<LeconLayout title="Exercice 19T - Algorithmique - Analyse de seuil">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout>