---
import LeconLayout from '../../layouts/Leçon.astro';
import PythonThresholdAnalysis from '../../components/Ex_27_T.tsx';
---

<LeconLayout title="Résoudre une équation ou inéquation avec ln ou exp">
  <main>   
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 