---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_27_T.tsx';
---

<LeconLayout title="Résoudre une équation / inéquation avec ln ou exp on aura des exo plus dure  du type ln(u(x)) =ln(v(x)) ou  ln(u(x)) < ln(v(x)">
  <main>   
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 