---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_26_T.tsx';
---

<LeconLayout title="Étude de fonction  trigonométrique">
  <main>
    Pour info inspiration : https://manuel.sesamath.net/numerique/diapo.php?atome=92423&ordre=1
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 