---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_22_T.tsx';
---

<LeconLayout title=" Continuité et dérivabilité en un point">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 