---
import LeconLayout from '../../layouts/Leçon.astro';
import PythonThresholdAnalysis from '../../components/Ex_24_T.tsx';
---

<LeconLayout title="Inequation trigonométrique">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 