---
import LeconLayout from '../../layouts/Leçon.astro';
import PythonThresholdAnalysis from '../../components/Ex_25_T.tsx';
---

<LeconLayout title="Étude de fonction  trigonométrique">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 