---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_23_T.tsx';
---

<LeconLayout title="Inequation trigonométrique">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 