---
import LeconLayout from '../../layouts/Leçon.astro';
import PythonThresholdAnalysis from '../../components/Ex_30_T.tsx';
---

<LeconLayout title="Ln">
  <main>   
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 