---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_32_T.tsx';
---

<LeconLayout title="Ln">
  <main>   
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout> 