---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_40_T.tsx';
---

<LeconLayout title="Reconnaissance d'une fonction usuelle">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout>