---
import LeconLayout from '../../layouts/Exercice.astro';
import PythonThresholdAnalysis from '../../components/Ex_9_T.tsx';
---

<LeconLayout title="Détermine une équation cartésienne du plan passant par A et de vecteur normal n⃗">
  <main>
    <PythonThresholdAnalysis client:load />
  </main>
</LeconLayout>