:root {
	--color-50: #f6f4fe;
	--color-100: #ece8fd;
	--color-200: #dcd3fc;
	--color-300: #c8b9fb;
	--color-400: #b39df9;
	--color-500: #a28bfa;
	--color-600: #8c6fe9;
	--color-700: #7753d5;
	--color-800: #6341b3;
	--color-900: #523793;
	--color-950: #332260;
}

body{
			font-family: "Righteous", sans-serif;
			font-weight: 400;
			font-style: normal;
}

/** **/

.righteous{
			font-family: 'Righteous', sans-serif;
		}





.metier-title {
  padding-bottom: 1rem;
} 

.lesson-title {
  
  font-size: 2rem;
  margin: 0;
}

.lesson-title-xl {
  font-size: 4rem;
  color: white;
  margin: 0;
}

.font-Righteous {
	font-family: "Righteous", sans-serif;
}

.mission {
  font-size: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mission:hover::before {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 60%;
  left: -4px;
  bottom: 0;
  background-color: var(--color-400);
  z-index: -1;
  transform: rotate(-1deg);
  border-radius: 4px;
  transition: all 0.3s ease;
}


.bg-black {
	background-color: #1c1c1c;
}



.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.germain-card {
  max-width: 550px;
  border: 1px;
  width: 100%;
  margin-inline: auto;
  color: #fff;
}

.container-card {
  position: relative;
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

/*  https://codepen.io/alvarotrigo/pen/oNpvMbb */


/* Style de base pour le surlignement */
strong {
  position: relative;
  z-index: 1;
  color: #fff;
}

/* Style pour le surlignement vert */
.bg-green::before {
  background-color: #46b96c;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
  border-radius: 2px;
}

/* Style pour le surlignement bleu */
.bg-blue::before {
  background-color: #4693b9;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
  border-radius: 2px;
}

/* Style pour le surlignement violette */
.bg-purple::before {
  background-color: var(--color-500);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
  border-radius: 2px;
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}



.card-title {
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  max-width: 470px;
  font-size: 20px;
}

.is-germain {
  background-color: var(--color-400);
}
.is-text-germain{
  color: var(--color-800);
}

h1{
  font-size: 60px;
  font-weight: 800;
  line-height: 64px;
}

.hero.is-primary {
  background-color: var(--primary-color);
  color: var(--color-50);
}

.hero.is-primary .title,
.germain-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}

.hero.is-primary .subtitle {
  color: var(--color-50);
}

html {
  height: 100%;
}

img {
	border-radius: 12px;
}



main {
  flex-grow: 1; /* Permet au contenu principal de prendre tout l'espace disponible */
}