---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body class="has-background-light">
    <Header />

    <main class="section">
      <div class="container">
        <div class="box has-background-white">


          <main class="section">
            <div class="container">
              <!-- Utilisation du système de colonnes de Bulma pour créer une grille responsive -->
              <div class="columns is-multiline">
                {
                  // Itération sur le tableau 'posts' récupéré plus haut
    
                      // Chaque article est affiché dans une colonne qui prend 1/3 de la largeur sur grand écran
                      <div class="column is-4">
                        {/* Création d'un lien vers la page de détail de l'article. L'URL est construite avec l'ID du post. */}
                        <a href="/Germain/ex/ex1">
                          {/* Affichage de l'image principale (heroImage) et du titre de l'article */}
                        <img class="" width={720} height={360} src="/Germain/Formula-amico.svg" alt="" />
                          <h4 class="title">Terminale</h4>
                        </a>
                      </div>
                      <div class="column is-4">
                        {/* Création d'un lien vers la page de détail de l'article. L'URL est construite avec l'ID du post. */}
                        <a href="/Germain/ex/ex1">
                          {/* Affichage de l'image principale (heroImage) et du titre de l'article */}
                        <img class="" width={720} height={360} src="/Germain/Raising hand-amico.svg" alt="" />
                          <h4 class="title">Première</h4>
                        </a>
                      </div>
                      <div class="column is-4">
                        {/* Création d'un lien vers la page de détail de l'article. L'URL est construite avec l'ID du post. */}
                        <a href="/Germain/ex/ex1">
                          {/* Affichage de l'image principale (heroImage) et du titre de l'article */}
                        <img class="" width={720} height={360} src="/Germain/Nerd-amico.svg" alt="" />
                          <h4 class="title">Seconde</h4>
                        </a>
                      </div>
                      <div class="column is-4">
                        <a href="/Germain/ex/ex_4_T">
                        <img class="" width={720} height={360} src="/Germain/Formula-amico.svg" alt="" />
                          <h4 class="title">Raisonnement par Récurrence</h4>
                        </a>
                      </div>
                  
                }
              </div>
            </div>
          </main>
    </main>

    <Footer />
  </body>
</html>
