---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body class="has-background-light">
    <Header />

    <main class="section">
      <div class="container">
        <div class="box has-background-white">
          <h1 class="title has-text-centered has-text-primary">Bienvenue dans les exercices</h1><br>
          <p class="subtitle has-text-centered"><a href="/Germain/ex/ex1" class="button is-primary">Voir les exercices</a></p>

          <div class="content">
            <h2 class="title is-4 has-text-link">Espace</h2>
            <ul>
              <li>
                On donne les coordonnées des points A(−6 ;2 ;−3), B(−2 ;−6 ;−2), C(3 ;−2 ;−4), D(11 ;−18 ;−2).<br>
                Déterminer si ces points sont coplanaires.
              </li>
              <li>
                Déterminer si le point M(17;−19;24) appartient à la droite (Δ) dont on donne la représentation paramétrique.
              </li>
              <li>
                Déterminer si le vecteur <strong>n⃗(2;−2;−3)</strong> est normal au plan engendré par A(−5 ;4 ;−4), B(7 ;−5 ;10), C(−20 ;−8 ;−5).
              </li>
              <li>
                Les droites (d₁) et (d₂) ont des représentations paramétriques données. Elles sont :
                <ul>
                  <li>confondues</li>
                  <li>strictement parallèles</li>
                  <li>non coplanaires</li>
                  <li>sécantes</li>
                </ul>
              </li>
              <li>
                Soit le plan (P) d'équation : 2x−y+z−1=0, et une droite (Δ) paramétrée.<br>
                La droite (Δ) est :
                <ul>
                  <li>sécante et non orthogonale au plan (P)</li>
                  <li>orthogonale au plan (P)</li>
                  <li>strictement parallèle au plan (P)</li>
                  <li>incluse dans le plan (P)</li>
                </ul>
              </li>
              <li>
                Deux plans (P₁) et (P₂) sont donnés avec leurs équations cartésiennes.<br>
                Ils sont :
                <ul>
                  <li>confondus</li>
                  <li>sécants et perpendiculaires</li>
                  <li>sécants et non perpendiculaires</li>
                  <li>strictement parallèles</li>
                </ul>
              </li>
              <li>Exercice type bac : BAC Juin 2024 Métropole J2 (Exercice dévoilé)</li>
              <li>Exercice type bac : BAC Juin 2024 Polynésie J2 Ex 4</li>
            </ul>

            <h2 class="title is-4 has-text-link">Combinatoire</h2>
            <ul>
              <li>
                On effectue dix lancers d'une pièce de monnaie. Le résultat d’un lancer est "pile" ou "face".
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
