---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<section class="hero is-primary is-bold">
		  <div class="hero-body">
			<div class="container">
			  <h1 class="title is-1">Bienvenue sur Germain</h1>
			  <p class="subtitle is-3">Apprendre les maths et la philosophie avec style !</p>
			  <a href="/Germain/exercices" class="button is-light is-large">Voir les exercices</a>
			</div>
		  </div>
		</section>
		<section class="section">
		  <div class="container">
			<div class="columns">
			  <div class="column">
				<div class="card">
				  <div class="card-content">
					<p class="title is-4">Leçons</p>
					<p class="content">Découvre toutes les leçons pour progresser.</p>
					<a href="/Germain/blog" class="button is-link">Voir les leçons</a>
				  </div>
				</div>
			  </div>
			  <div class="column">
				<div class="card">
				  <div class="card-content">
					<p class="title is-4">Exercices</p>
					<p class="content">Teste tes connaissances avec nos exercices interactifs.</p>
					<a href="/Germain/exercices" class="button is-primary">Voir les exercices</a>
				  </div>
				</div>
			  </div>
			  <div class="column">
				<div class="card">
				  <div class="card-content">
					<p class="title is-4">À propos</p>
					<p class="content">En savoir plus sur le projet Germain.</p>
					<a href="/Germain/about" class="button is-info">À propos</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>

		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column">
						<div class="card">
							<div class="card-content">
								<p class="title is-4">Germain se donne plusieur missions :</p>
								<p class="content">
									<li>Donner au néophyte et a toutes les autre personnes d'aimer les mathématique</li>
									<li>Permettre à quiconque de s'améliorer dans un domaine lié aux mathématiques</li>
									
								</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<Footer />
	  </body>
	</html>
