---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		
		<section class="hero is-germain is-bold">
			
          <div class="hero-body">
            <div class="container">
              <div class="columns is-vcentered">
                <div class="column">
                  <h1 class="title is-1">Bienvenue sur Germain</h1>
                  <p class="subtitle is-3">Renforcez ces aquis avec style !	</p>
                </div>
                <div class="column">
                  <img src="/Germain/Mathematics-amico.svg" alt="Mathematics-amico" style="max-width: 400px; display: block; margin: auto;" />
                </div>
              </div>
            </div>
          </div>
		  <div class="notification is-link is-light">
			<div class="title is-4">Attention le site Germain est en cours de création :)</div>
		  </div>
        </section>
		<section class="section">
		  <div class="container">
			<div class="columns">
			  <div class="column">
				<div class="card">
				  <div class="card-content">
					<p class="title is-4">Leçons</p>
					<p class="content">Découvre toutes les leçons pour progresser.</p>
					<a href="/Germain/blog" class="button is-germain">Voir les leçons</a>
				  </div>
				</div>
			  </div>
			  <div class="column">
				<div class="card">
				  <div class="card-content">
					<p class="title is-4">Exercices</p>
					<p class="content">Teste tes connaissances avec nos exercices interactifs.</p>
					<a href="/Germain/exercices" class="button is-germain">Voir les exercices</a>
				  </div>
				</div>
			  </div>
			  <div class="column">
				<div class="card">
				  <div class="card-content">
					<p class="title is-4">À propos</p>
					<p class="content">En savoir plus sur le projet Germain.</p>
					<a href="/Germain/about" class="button is-germain">À propos</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>

		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column">
						<div class="card">
							<div class="card-content">
								<p class="title is-4">Germain se donne plusieur missions :</p>
								<p class="content">
									<li>Donner au néophyte et a toutes les autre personnes d'aimer les mathématique</li>
									<li>Permettre à quiconque de s'améliorer dans un domaine lié aux mathématiques</li>
									<a href="/Germain/apprentissage">Es ce que vous savez vraiment apprendre les maths ?</a> 
									
								</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="columns">
			<div class="column"></div>
			<div class="column">
				<h2 class="title is-4">Des exercices infini	 </h2><br>
				<p class="subtitle is-5">
				La pratique est essentielle pour maitriser les mathématiques. C'est pourquoi Germain vous permet de faire des exercices infinis grace à des valeurs aléatoires. Ainsi, vous ne ferez jamais deux fois le même exercice et vous pourrez vous améliorer sans vous lasser. De plus, le fait de faire des exercices vous donnera envie de vous améliorer encore plus.
				</p>
			</div>
			<div class="column"><img src="/Germain/Work in progress-amico.svg" alt="Work in progress-amico"></div>
			<div class="column"></div>
		  </div><br>
		  <div class="columns">
			<div class="column"></div>
			<div class="column"><img src="/Germain/Professor-amico.svg" alt="Professor-amico"></div>
			<div class="column">
				<h2 class="title is-4">Des leçons pour tous les niveaux</h2>
				<p class="subtitle is-5">
					Plongez dans l'univers des mathématiques avec Germain ! Nos leçons, conçues pour tous les niveaux, transforment l'apprentissage en une aventure passionnante. Grâce à des exemples pratiques et des exercices interactifs, vous maîtriserez chaque concept à votre rythme. Préparez-vous à découvrir le plaisir d'apprendre et de progresser sans limites. Avec Germain, les maths n'auront jamais été aussi accessibles et stimulantes !
				</p>
			</div>
			<div class="column"></div>
		  </div>


		<Footer />
	  </body>
	</html>
