---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Maths et metier"
>
  <section class="content is-medium">
    Regardons de plus près comment les mathématiques s'applique dans tout ces métiers différents 
  </section>
  
</Layout>

