---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


type Props = CollectionEntry<'blog'>['data'];

const { title, description, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<hr />
					</div>
					Charte graphique
					
                    <div class="t1"><li>Logo</li><br>

					<div class="t">Actuellement il n'y a pas de logo </div>

					<li>Couleurs</li>
					

					

					<li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#f4f3ff" />
						</svg>
						<code>#f4f3ff</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#ece9fe" />
						</svg>
						<code>#ece9fe</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#dbd6fe" />
						</svg>
						<code>#dbd6fe</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#c1b5fd" />
						</svg>
						<code>#c1b5fd</code>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#a28bfa" />
						</svg>
						<code>#a28bfa</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#845cf6" />
						</svg>
						<code>#845cf6</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#6528d9" />
						</svg>
						<code>#6528d9</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#743aed" />
						</svg>
						<code>#743aed</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#5421b6" />
						</svg>
						<code>#5421b6</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#461d95" />
						</svg>
						<code>#461d95</code>
					  </li>
					  <li>
						<svg class="color-circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						  <circle r="100" cx="50" cy="50" fill="#2a1065" />
						</svg>
						<code>#2a1065</code>
					  </li>
					  <div class="t">Pour une meilleur comprention du l'usage des couleurs : <a href="https://uicolors.app/generate/2A1065">ici</a></div>
					</div>
                    
                    - Mise en page 
                    - Icônes
                    - Titres , Soustitre ....
                    -  Textes et liens
                    - Typographie
                    - Accessibilité
                    Voir exemple ici : https://framasoft.org/fr/graphics/

					<div class="t1"><li>Titre</li></div>

					<div class="t2"><li>Sous Titre</li></div>

					<div class="propriete">Propriete</div>

					<div class="def">yop</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>