---
import '../styles/global.css';
import '../styles/bulma.min.css';
import { TITLE, CONTEXTE, INPUT } from '../consts';

interface Props {
	title: string;
	description?: string;
	image?: string;
}


---


<div class="section">
	<div class="card">
		<div>TITLE</div> <!-- Titre  Je crois que c'est n'imp-->
		<div>CONTEXTE<div>
	</div>
</div>