---
// src/components/SearchBar.astro
---
<div class="field mb-5">
  <p class="control has-icons-left">
    <input id="search-input" class="input" type="text" placeholder="Rechercher des applications...">
    <span class="icon is-small is-left">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
  </p>
</div>
